.b1{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:31%;
  background:url(20012.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}
 body{
 	background: url(0014.gif);
 	background-size: 100% 100%;
 }
.b2{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:30%;
  background:url(2006.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}
.b3{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:30%;
  background:url(20013.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}
.b4{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:30%;
  background:url(2004.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}
.b5{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:30%;
  background:url(2009.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}
.b6{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:30%;
  background:url(2005.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}
.b7{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:30%;
  background:url(20010.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}
.b8{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:30%;
  background:url(2007.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}
.b9{
  padding-left:31%;
  padding-bottom:31%;
  margin:1%;
  border-radius:30%;
  background:url(20011.jpg);
  float:left;
  background-size: 100% 100%;
  opacity: .9;
}